Language: Cpp

UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 4
ColumnLimit: 120

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AlignArrayOfStructures: Left
Cpp11BracedListStyle: true
AllowAllParametersOfDeclarationOnNextLine: false


AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BinPackArguments: true
BinPackParameters: true

BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: true
BreakBeforeTernaryOperators: false

BreakStringLiterals: false

IndentCaseLabels: false

PointerAlignment: Right

SpaceAfterCStyleCast: false

SpaceBeforeAssignmentOperators: true

SpaceBeforeParens: ControlStatements

SpaceInEmptyParentheses: false

SpacesBeforeTrailingComments: 1

SpacesInCStyleCastParentheses: false

SpacesInContainerLiterals: false

SpacesInParentheses: false

SpacesInSquareBrackets: false

Cpp11BracedListStyle: false

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

SeparateDefinitionBlocks: Always

PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 10
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 60

SortIncludes: true
IncludeBlocks: Regroup
