name: Compilation Checker
on: []
jobs:
  compilation-checking:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get toolchain
        run: >
          cd $HOME &&
          wget -q http://tcs79.csc.kth.se/riscv64-unknown-elf-toolchain.tgz &&
          tar -xf riscv64-unknown-elf-toolchain.tgz
      - name: Compile kernel
        run: export PATH=$HOME/opt/riscv/bin:$PATH && make all

